<div class = "logo">
    <h1>GPP</h1>(Finge que tem uma logo aqui)
</div>

<form>
    <h3>Login</h3>

    <label for="username">Email</label>
    <input type="email" placeholder="Email" id="email" ngModel = "login.email" required/>

    <label for="password">Senha</label>
    <input type="password" placeholder="Senha" id="password" ngModel ="login.password" required/>

    <button (click)="onSubmit()">Log In</button>
    <button (click)="registrar()">Registrar</button>

    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>
