<div class="login-container">
    <div class="login-header">
      <h1>Finge que tem um logo bem bonito aqui</h1>
    </div>
        
    <form class="texts" (ngSubmit)="onSubmit()" #form="ngForm">
      <h1>Registrar</h1>
      <div class="text-box">
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="Insira o seu email"  type="email" [(ngModel)]="user.email" required>
      </div>
      <div class="text-box">
        <label for="nome">Nome Completo</label>
        <input id="mone" name="nome" placeholder="Insira o seu nome completo"  type="text" [(ngModel)]="user.full_name" required>
      </div>
      <div class="text-box">
        <label for="nome">CPF</label>
        <input id="cpf" name="cpf" placeholder="Insira o seu CPF"  type="text" [(ngModel)]="user.cpf" required>
      </div>
      <div class="text-box">
        <label for="adress">Endereço</label>
        <input id="adress" name="adress" placeholder="Insira o seu endereço"  type="text" [(ngModel)]="user.address" required>
      </div>
      <div class="text-box">
        <label for="senha">Senha</label>
        <input id= "senha" name = "senha" placeholder="Insira a sua senha" required type="password" [(ngModel)]="user.password">
      </div>
      <div class="text-box">
        <label for="senhaR">Repita a Senha</label>
        <input id= "senhaR" name = "senhaR" placeholder="Insira a sua senha" required type="password" [(ngModel)]="user.password">
      </div>
      <button type="submit" [disabled]="form.form.invalid">Registrar</button>
    </form>
    <div class="login-foot">
      Já possui uma conta? <a href="/login">Fazer Login</a>
    </div>
    <div class="line">
      <hr style="width:40%;text-align:center"> ou <hr style="width:40%;text-align:center">
    </div>
  </div>
