<div class="profile-header">
    <h1>Olá, {{ profile.full_name }}</h1>
    <h5>{{profile.email}}</h5>
</div>

<ul class = "dispositivos" >
    <h4 *ngIf = "profile.phone_numbers.length > 0"> Lista de aparelhos:</h4>
    <li *ngFor = "let phone of profile.phone_numbers" class="list-group-item"> 
       <div class="itemDispositivo">
            {{phone}}
            <button (click)="marcarPerdido(phone)">X</button>
       </div>
    </li>
    <button (click)="newPhone()"> Cadastrar dispositivo</button>
</ul>


