.profile-header{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding-top: 5%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.dispositivos{
    width: 80%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border: 2px solid rgba(255,255,255,0.1);
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.itemDispositivo{
    display: grid;
    border: 2px solid rgb(12, 0, 34);
    margin-right: 10%;
    border-radius: 5px;
    padding: 2%;
    background-color: aquamarine;
    margin-bottom: 2%;
}
