<div class = "logo">
    <h1>GPP</h1>(Finge que tem uma logo aqui)
</div>

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <h3>Registrar</h3>

    <label for="username">Email</label>
    <input type="email" placeholder="Insira o seu email" name="email" id="email" [(ngModel)]="user.email" required />

    <label for="password">Senha</label>
    <input type="password" placeholder="Insira o sua senha" name="password" id="password" [(ngModel)]="user.password" required />

    <label for="passwordR">Repita a senha</label>
    <input type="password" placeholder="Repita a senha" id="passwordR" required/>

    <label for="name">Nome Completo</label>
    <input type="text" placeholder="Insira o seu nome completo" name="name" id="name" [(ngModel)]="user.full_name" required />

    <label for="Cpf">CPF</label>
    <input type="text" placeholder="Insira o seu CPF" name="Cpf" id="Cpf" [(ngModel)]="user.cpf" required />

    <label for="Adress">Endereço</label>
    <input type="text" placeholder="Insira o seu endereço residencial" name="adress" id="adress" [(ngModel)]="user.address" required />

    <label for="Date">Data de nascimento</label>
    <input type="date"  name="date" id="date" [(ngModel)]="user.date_of_birth" required />

    <button type="submit" >Registrar</button>

    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>
